/* Inactive tab */
.myicons ul > li > a#loginTabsPanel-tab-id-card {
    background-image: url(img/id-kaart.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 55px;
    background-repeat: no-repeat;
}
/* Inactive tab */
.myicons ul > li > a#loginTabsPanel-tab-mobile-id {
    background-image: url(img/mobiil-id.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 15px;
    background-repeat: no-repeat;
}


.myicons ul > li > a#loginTabsPanel-tab-id-card:hover {
    background-image: url(img/id-kaart-2.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 55px;
    background-repeat: no-repeat;
}

.myicons ul > li > a#loginTabsPanel-tab-mobile-id:hover {
    background-image: url(img/mobiil-id-2.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 15px;
    background-repeat: no-repeat;
}

/* Active tab */
.myicons ul > li.active > a#loginTabsPanel-tab-id-card,
.myicons ul > li.active > a#loginTabsPanel-tab-id-card:hover,
.myicons ul > li.active > a#loginTabsPanel-tab-id-card:focus {
    background-image: url(img/id-kaart-2.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 55px;
    background-repeat: no-repeat;
}

/* Active tab */
.myicons ul > li.active > a#loginTabsPanel-tab-mobile-id,
.myicons ul > li.active > a#loginTabsPanel-tab-mobile-id:hover,
.myicons ul > li.active > a#loginTabsPanel-tab-mobile-id:focus {
    background-image: url(img/mobiil-id-2.svg);
    background-size: auto;
    background-position: 2px 0px;
    text-indent: 15px;
    background-repeat: no-repeat;
}

.myicons ul {
    border-bottom: 3px solid #0eb742;
}

.myicons ul > li {
    margin-bottom: 0px;
}