.push-up-33 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-33.33333%);
    -moz-transform: translateY(-33.33333%);
    -ms-transform: translateY(-33.33333%);
    -o-transform: translateY(-33.33333%);
    transform: translateY(-33.33333%);
}

.push-up-15 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    transform: translateY(-15%);
}

.margin-right {
    margin-right: auto;
}

.app-modal-window > .modal-dialog {
    width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}


/*navigation tabs on left*/
.nav-tabs-left {
    border-right: 1px solid #0eb742;
    padding-right: 0 !important;
}

    .nav-tabs-left > li {
        float: left;
        margin-right: -1px;
    }

        .nav-tabs-left > li > a {
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 0 0 4px;
        }

        .nav-tabs-left > li.active > a {
            color: white;
            cursor: default;
            background-color: #0eb742;
        }

            .nav-tabs-left > li.active > a:hover,
            .nav-tabs-left > li.active > a:focus {
                opacity: 0.8;
            }

    .nav-tabs-left > li {
        float: none;
    }

        .nav-tabs-left > li > a {
            text-align: center;
        }


@media (min-width: 768px) {
    .nav-tabs-left > li > a {
        border-right: 1px solid #0eb742;
        border-radius: 4px 0 0 4px;
    }

    .nav-tabs-left > .active > a {
        color: white;
        cursor: default;
        background-color: #0eb742;
    }

        .nav-tabs-left > .active > a:hover,
        .nav-tabs-lefts > .active > a:focus {
            opacity: 0.8;
        }
}

.word-breaker {
    word-break: break-all;
}

.asterisk {
    color: red;
}

.borderless td {
    border: none !important;
    padding: 3px !important;
}

.table-header th {
    background-color: #f9f9f9;
    text-align: center;
    border: none !important;
}



.header-without-border {
    border-bottom: 0 !important;
}

.align-text-center td, th {
    text-align: center;
    vertical-align: middle !important;
}

.vertical-align td, div {
     vertical-align: middle !important;
}

.btn-calendar {
    display: block;
    padding: 4px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    background-image: none;
    color: black;
    border: 1px solid #ccc;
    border-left: 0;
    -webkit-box-shadow: inset 1px 1px 0 #000000;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .075);
    box-shadow: inset 1px 1px 0 #000000;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.sais-arrow select {
    display: inline-block;
    margin: 0;
    -moz-appearance: none !important;        
    -webkit-appearance:none !important; /* remove the strong OSX influence from Webkit  */
    cursor: pointer;
}

.sais-arrow {
    padding: 0 15px 0 15px;
    position: relative;
}

.sais-arrow::after {
    font-family: 'saisicons';
    content: "\e804";
    font-size: 14px;
    padding: 8px 10px;
    position: absolute;
    right: 23px;
    top: 0;
    bottom: 0;
    border-left: 0;
    background: #e9eeea ;
    color: black;
    pointer-events: none;
    -webkit-box-shadow: inset 0 2px 0 #000000;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 0 #000000;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* for Webkit's CSS-only solution */
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .sais-arrow select {
            padding-right:30px;    
        }
    }
.no-pointer-events .sais-arrow:after {
        content: none;
    }

.sais-arrow select::-ms-expand {
    display: none;
}

.sais-arrow select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.table-striped-institution > tbody:nth-child(odd) > tr {
  background-color: #f9f9f9;
}

.inactive {
   visibility: hidden;
    height: 0;
}

.required label:after { 
    content:" *";
    color: red;
}

a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

select[disabled], input[disabled] {
    color: #AAAAAA !important;
}


.wideTable{
    table-layout:fixed;
    width:100%;
    word-wrap:break-word;   
}
.noPaddingLeft td {
     padding: 1em 0.8em 0.5em 0 !important;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.tags-cloud .tag {
    float: left;
    padding: 4px 6px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f2f2f2;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #dddddd;
}
.tags-cloud .tag:hover {
    border: 1px solid #cccccc;
}
.tags-cloud .tag:hover .saisicon-glyph-remove {
    opacity: 1;
}
.tags-cloud .tag .saisicon-glyph-remove {
    margin-left: 5px;
    margin-right: 3px;
    font-size: 1em;
    color: #20a28e;
    opacity: .7;
    cursor: pointer;
}
.suggestions-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
    z-index: 1;
}
.suggestions-list li {
    color: #333333;
    font-weight: 600;
    padding: 4px 25px;
    font-size: 1em;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #dddddd;   
}
.suggestions-list li:hover {
    background: #dddddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
    color: #20a28e;
    background: #dddddd;
}
.suggestions-list:focus{
    outline:none;
}

.displayNone {
    display: none !important;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.tspointer {
    cursor: pointer !important;
}

.header, .tablesorter-header {
    background-image: url("../../Content/img/unsorted.gif") !important;
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
    /* background-image: url(images/black-unsorted.gif); */
    background-repeat: no-repeat !important;
    background-position: center right !important;
    padding: 4px 18px 4px 4px !important;
    white-space: normal !important;
    cursor: pointer;
}

th.tablesorter-headerAsc { 
    background-image: url("../../Content/img/up-open.png") !important;
} 

th.tablesorter-headerDesc { 
    background-image: url("../../Content/img/down-open.png") !important;
} 

.calendar-glyph-style {
    background-color: #E9EEEA;
    display: table-cell;
    vertical-align: middle;
    padding-right: 9px;
    color: black;
    box-shadow: inset -1px 2px 3px #000000;
    box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset -1px 2px 3px #000000;
    -webkit-box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -1px 2px 3px #000000;
    -moz-box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    position: initial;
    cursor: pointer;
}

.datepicker {
    cursor: pointer;
}

.btn-applications-list {
    margin-bottom: 5px;
}
